.nav{
    margin-top: 30px;
    background-color: aliceblue;
    padding: 1%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 30px;
}
.search{
   color: blue; 
   text-align: center;
   margin-right: 40px;
}
::placeholder{
    color: rgb(180, 175, 175);
}